[Unit]
Description=Telegram bot 'ya_perezvonu'
After=syslog.target
After=network.target

[Service]
Type=simple
User=<username>
WorkingDirectory=/home/<username>/ya_perezvonu
ExecStart=/usr/bin/python3 /home/<username>/ya_perezvonu/ya_perezvonu.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target